<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Frequently Asked Questions 
	link(rel="stylesheet", href="/css/styles.css")
body
	nav
		ul
			li: a(href="/") Home
			li: a(href="/about") About
			li: a(href="/faq") FAQ 
			li: a(href="/contact") Contact
			li: a(href="/people") People
